html{
  margin: 0;
  padding:0;

}


body{
  height: 100vh;
  background: linear-gradient(to right, #96C7C1,#89B5AF );
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Merriweather', sans-serif;
}

.container{
  width: 500px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

}

.counters{
  width: 100%;
  display: flex;
  justify-content: space-around;

}
textarea:focus{
  color: #090910;
  width: 90%;
  height: 50%;
  font-size: 20px;
  padding:15px;
  outline: none;
resize:none;
background: rgba(255, 255, 255, 1);
border-radius: 10px;
box-shadow: 0 15px 30px rgba(0,0,0,0.3);

}

span{
  font-size: 15px;
  color:#105652;
  font-weight: bolder;
}

.CharactersCounter,
.wordsCounter{
  height: 90px;
  width: 90px;
  background-color: #fff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;



}
